<div class="container" ng-controller="compareCtrl"> 
	<div id="message-div" class="alert alert-success">
		<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Success.!!!</strong>
	</div>
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">Compare Images</div>
		    <div class="panel-body">
		    	<div class="col-md-12">
		    		<div class="col-md-8" id="upload-div">
		    			<form ng-submit="uploadImages()"  enctype="multipart/form-data">
		    				<div class="col-md-4">
		    					<div class="fileinput fileinput-new" data-provides="fileinput">
									<div class="fileinput-new thumbnail" style="width: 200px; height: 150px !important;">
										<img src="../../public/images/200x150.png" alt="...">
									</div>
									<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px !important;">
									</div>
									<div>
										<span class="btn btn-default btn-file"><span class="fileinput-new">Select Image</span>
										<span class="fileinput-exists">Change</span>
											<input type="file" accept=[".jpg",".png"] name="image1" 
											file-upload required="true"/>
										</span>
										<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
									</div>
								</div>
		    				</div>
		    				<div class="col-md-1"></div>
		    				<div class="col-md-4">
		    					<div class="fileinput fileinput-new" data-provides="fileinput">
									<div class="fileinput-new thumbnail" style="width: 200px; height: 150px !important;">
										<img src="../../public/images/200x150.png" alt="...">
									</div>
									<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px !important;">
									</div>
									<div>
										<span class="btn btn-default btn-file"><span class="fileinput-new">Select Image</span>
										<span class="fileinput-exists">Change</span>
											<input type="file" accept=[".jpg",".png"] name="image2" 
											file-upload required="true"/>
										</span>
										<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
									</div>
								</div>
		    				</div>
							<div class="col-md-3">
								<button class="btn btn-primary btn-lg" style="margin-top:45px" type="submit" >Compare Images</button>
							</div>
		    				
							
						</form>	
		    		</div>
		    		
		    		
		    	</div>
		    </div>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">Results</div>
	    <div class="panel-body">
	    	<div class="row">
				<div class="col-md-12" id="results-div">
					<div class="img">
					    <img ng-src="{{cropped_image1}}" alt="Image1" width="200" height="150">
					  	<div class="desc">Image1 Face</div>
					</div>
					<div class="img">
					    <img ng-src="{{cropped_image2}}" alt="Image2" width="200" height="150">
					  	<div class="desc">Image2 Face</div>
					</div>
					<div class="col-md-6">
					<div class="circle">
						{{matching_percentage}}
					</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>

		
