<div class="container" ng-controller="facedetectionCtrl"> 
	<div id="message-div" class="alert alert-success">
		<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Success.!!! {{ message}}</strong>
	</div>
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">Upload Image</div>
		    <div class="panel-body">
		    	<div class="col-md-12">
		    		<div class="col-md-3" id="upload-div">
		    			<form ng-submit="uploadImage()"  enctype="multipart/form-data">
							<div class="fileinput fileinput-new" data-provides="fileinput">
								<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
									<img src="../../public/images/200x150.png" alt="...">
								</div>
								<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
								</div>
								<div>
									<span class="btn btn-default btn-file"><span class="fileinput-new">Select Image</span>
									<span class="fileinput-exists">Change</span>
										<input type="file" accept=[".jpg",".png"] name="image1" 
										file-upload required="true"/>
									</span>
									<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
								</div>
							</div>
		    				<button class="btn btn-primary" style="margin-left:15%" type="submit" >Detect Face</button>
							
						</form>	
		    		</div>
		    		
		    		<div class="col-md-9" id="results-div">
		    			<div class="img">
						    <img ng-src="{{original_image}}" alt="Original" width="200" height="150">
						  	<div class="desc">Original Image</div>
						</div>
						<div class="img">
						    <img ng-src="{{marked_image}}" alt="Marked" width="200" height="150">
						  	<div class="desc">Face Marked Image </div>
						</div>
						<div class="img">
						    <img ng-src="{{cropped_image}}" alt="Cropped" width="200" height="150">
		 	                <div class="desc">Face cropped Image </div>
						</div>
		    		</div>
		    	</div>
		    </div>
		</div>
	</div>
</div>

		
