body{font-family:Arial;font-size:12px;padding:0px; margin:0px;}
/*body{background:url(../images/pg-bg.png) no-repeat #E3EFF7;}*/
.header-wrapper{background:#0059B2;padding:5px; min-height:50px }
.logo{position:absolute;}
.search-block{background:rgba(0,89,78,0.24); padding:10px; margin-top:5px;}
.dropdown-block{background:rgba(0,89,78,0.24); padding:10px; margin-top:5px;}
.form-group label{font-weight:normal;padding-left:10px}
/*.form-group input[type="text"]{-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px; border:none; width:100%;padding:5px 10px}*/
/*.form-group input{outline:none}*/
.img-upload{position:relative; padding-left:10px}
.img-upload input[type="file"]{z-index:5;    z-index: 5;
    position: absolute;
    height: 75px;opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */}
.img-upload img{ top:0px ;z-index:4; height:75px}
.selected-file{    position: relative;
    top: 4px;
    left: 36px;}

.profile-pic{width:50px}
.search-results{margin-top:20px}
.search-results table{width:100%}
.search-results thead{background:#0059B2}
.search-results thead th{color:#FFFFBF;padding:8px; font-size:14px; font-weight:normal}
.search-results tbody td{padding:8px; vertical-align:top}
.social-icon{width:25px;}
.show-more{width:100%; margin-top:10px}
.search-results tbody tr{border-bottom:1px solid #fff; background:rgba(0,89,78,0.10);}
.footer-wrapper{margin-top:30px; text-align:center; padding:10px; background:#0059B2; color:#FFFFBF}
